<div id="all-message">
  <div *ngFor="let mes of messageList"
       [class.right-align]="mes.name === loginUser.name">

    <div>{{mes.createdTime}} </div>
    <div class="d-flex justify-content-start mb-4">
      <div>
        <img src="{{mes.image}}" alt="userImage" width="40px" height="40px"
             class="example z-depth-2">
      </div>
      <div class="msg_container">

        {{mes.content}}
        <span class="msg_time">8:40 A.M, Today {{mes.createdTime}}</span>
      </div>
    </div>
    <div class="d-flex justify-content-end mb-4">

      <div class="msg_container_send">
        {{mes.content}}
        <span class="msg_time_send">8:40 A.M, Today</span>
      </div>
      <div>
        <img src="{{mes.image}}" alt="userImage" width="40px" height="40px"
             class="example z-depth-2">
      </div>
    </div>
  </div>
</div>
