<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple lighten-1">
  <mdb-navbar-brand><a class="navbar-brand" href="#"><i class="fa fa-biohazard"></i></a></mdb-navbar-brand>
<links>
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link waves-light" mdbWavesEffect>Members</a>
  </li>
  <li class="nav-item">
    <a class="nav-link waves-light" mdbWavesEffect>Group</a>
  </li>
  <li class="nav-item">
    <a class="nav-link waves-light" mdbWavesEffect>Add</a>
  </li>
</ul>
  <ul class="navbar-nav ml-auto nav-flex-icons">
    <li class="nav-item">
      <a id="mail" class="nav-link">6 <mdb-icon fas icon="envelope"></mdb-icon></a>
    </li>
    <li class="nav-item">
      <a mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="img" class="img-fluid rounded-circle z-depth-0" width="40px" height="40px"></a>
      <span class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item waves-light" mdbWavesEffect>My account</a>
        <a class="dropdown-item waves-light" mdbWavesEffect>Log out</a>
      </span>
    </li>
  </ul>
</links>
</mdb-navbar>
