<div class="row">
  <div class="page text-center col-sm-6 offset-sm-3 mt-5 pt-5">
    <h2>Register new User:</h2>
    <form [formGroup]="userRegisterForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="md-form form-lg">
        <input type="text" formControlName="username"
               name="username"
               id="username" class="form-control form-control-lg"
               mdbInput
               [class.is-invalid]="userRegisterForm.controls.username.invalid && (userRegisterForm.controls.username.dirty ||
                  userRegisterForm.controls.username.touched)">
        <label for="username">Username</label>

      </div>
      <!--      <div *ngIf="userRegisterForm.controls.username.invalid" class="alert alert-danger">Invalid user</div>-->
      <div *ngIf="userRegisterForm.controls.username.errors.required && (userRegisterForm.controls.username.dirty ||
                  userRegisterForm.controls.username.touched)" class="alert alert-danger">Username Required
      </div>
      <div *ngIf="userRegisterForm.controls.username.errors.minlength && (userRegisterForm.controls.username.dirty ||
                  userRegisterForm.controls.username.touched)" class="alert alert-danger">Minimum 4
        characters
      </div>

      <div class="md-form form-lg">
        <input type="password" formControlName="password"
               class="form-control form-control-lg"
               name="password"
               id="password" mdbInput
               [class.is-invalid]="userRegisterForm.controls.password.invalid && (userRegisterForm.controls.password.dirty||
                userRegisterForm.controls.password.touched)">
      <label for="password">Password</label>
      </div>

      <div *ngIf="userRegisterForm.controls.password.invalid && (userRegisterForm.controls.password.dirty ||
                  userRegisterForm.controls.password.touched)" class="alert alert-danger">Invalid password
      </div>
      <div *ngIf="userRegisterForm.controls.password.errors.required && (userRegisterForm.controls.password.dirty||
                userRegisterForm.controls.password.touched)" class="alert alert-danger">Password Required
      </div>
      <div *ngIf="userRegisterForm.controls.password.errors.minlength && (userRegisterForm.controls.password.dirty||
                userRegisterForm.controls.password.touched)" class="alert alert-danger">Minimum 4 characters
      </div>
      <div class="md-form form-lg">
        <input type="text" formControlName="name"
               class="form-control form-control-lg"
               name="password"
               id="name" mdbInput
               value="Anonymous">
        <label for="name">Name (Optional)</label>
      </div>
      <div class="offset-sm-1">
        <button type="submit" class="btn btn-success text-center" mdbWavesEffect>Create</button>
      </div>
    </form>
  </div>
</div>
